body {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: "header header header" "aside main main" "footer footer footer";
  grid-template-columns: 20vw auto auto;
  grid-template-rows: 50px calc(100vh - 100px - 10px) 50px;
}

.header {
  background-color: #a72c2c;
  padding: 10px;
  grid-area: header;
}

.aside {
  background-color: #56bffc;
  padding: 10px;
  grid-area: aside;
}

.main {
  background-color: #bc20e2;
  padding: 10px;
  grid-area: main;
}
.footer {
  padding: 10px;
  background-color: #81e220;
  grid-area: footer;
}
